Repository UMAprotocol/protocol, pull requests merged in 2021-12, with the labels that each got.

#3668 improve(cross-chain-oracle): Stamp ancillary data in hasPrice and getPrice
  packages/core/contracts/cross-chain-oracle/OracleSpoke.sol
  packages/core/test/cross-chain-oracle/OracleSpoke.js
  packages/core/test/cross-chain-oracle/chain-adapters/Admin_ChildMessenger.js
Labels: cross-chain-oracle

#3658 feat(across): Add RateModelStore contract
  packages/core/contracts/insured-bridge/RateModelStore.sol
  packages/core/test/insured-bridge/RateModelStore.js
Labels: insured-bridge

#3671 feat(core): Deploy new RateModel
  packages/core/deploy/040_deploy_rate_model_store.js
  packages/core/networks/1.json
Labels: insured-bridge

#3677 fix(cross-chain-oracle): [L02] add more nonReentrant() modifiers
  packages/core/contracts/cross-chain-oracle/chain-adapters/Arbitrum_ParentMessenger.sol
  packages/core/contracts/cross-chain-oracle/chain-adapters/Optimism_ParentMessenger.sol
Labels: cross-chain-oracle, audit-fix-phase6

#3679 fix(optimistic-rewarder): [L05] improved natspec commenting
  packages/core/contracts/financial-templates/optimistic-rewarder/OptimisticRewarderBase.sol
Labels: audit-fix-phase6

#3680 fix(cross-chain-oracle): [N03] address incorrect interface
  packages/core/contracts/cross-chain-oracle/GovernorSpoke.sol
Labels: cross-chain-oracle, audit-fix-phase6

#3681 fix(core-contracts): [N06] fix some typographical errors
  packages/core/contracts/cross-chain-oracle/GovernorSpoke.sol
  packages/core/contracts/cross-chain-oracle/chain-adapters/Admin_ChildMessenger.sol
  packages/core/contracts/cross-chain-oracle/chain-adapters/Optimism_ChildMessenger.sol
  packages/core/contracts/financial-templates/optimistic-rewarder/OptimisticRewarderBase.sol
Labels: cross-chain-oracle, audit-fix-phase6

#3684 fix(cross-domain-oracle): [N05] fixed outstanding todos
  packages/core/contracts/cross-chain-oracle/OracleHub.sol
  packages/core/contracts/cross-chain-oracle/OracleSpoke.sol
  packages/core/contracts/cross-chain-oracle/chain-adapters/Arbitrum_ParentMessenger.sol
  packages/core/contracts/cross-chain-oracle/chain-adapters/Optimism_ChildMessenger.sol
  packages/core/package.json
  yarn.lock
Labels: cross-chain-oracle, audit-fix-phase6

#3682 fix(optimistic-rewarder): [N07] addressed unused imports
  packages/core/contracts/financial-templates/optimistic-rewarder/OptimisticRewarderCreator.sol
  packages/core/contracts/financial-templates/optimistic-rewarder/OptimisticRewarderToken.sol
  packages/core/contracts/financial-templates/optimistic-rewarder/OptimisticStaker.sol
Labels: audit-fix-phase6

#3678 fix(cross-chain-oracle): [L03] fixed wrong commenting
  packages/core/contracts/cross-chain-oracle/GovernorSpoke.sol
  packages/core/contracts/cross-chain-oracle/interfaces/ChildMessengerConsumerInterface.sol
Labels: cross-chain-oracle, audit-fix-phase6

#3687 improve(cross-chain-oracle): Clarify comments for refundL2Address
  packages/core/contracts/cross-chain-oracle/chain-adapters/Arbitrum_ParentMessenger.sol
Labels: cross-chain-oracle, audit-fix-phase6

#3695 fix: [L01] uses the declared Disputed event
  packages/core/contracts/financial-templates/optimistic-rewarder/OptimisticRewarderBase.sol
  packages/core/test/financial-templates/optimistic-rewarder/OptimisticRewarder.js
Labels: audit-fix-phase6

#3690 fix: [C01] fixes issue where disputes are impossible in the OptimisticRewarder
  packages/core/contracts/financial-templates/optimistic-rewarder/OptimisticRewarderBase.sol
  packages/core/test/financial-templates/optimistic-rewarder/OptimisticRewarder.js
Labels: audit-fix-phase6

#3694 fix: [M01] fixes incorrect event parameters
  packages/core/contracts/financial-templates/optimistic-rewarder/OptimisticRewarderBase.sol
  packages/core/test/financial-templates/optimistic-rewarder/OptimisticRewarder.js
Labels: audit-fix-phase6

#3688 feat(cross-chain-oracle): Enable GovernorHub to change child messenger on child network
  packages/common/src/Constants.ts
  packages/core/contracts/cross-chain-oracle/GovernorSpoke.sol
  packages/core/contracts/cross-chain-oracle/OracleHub.sol
  packages/core/contracts/cross-chain-oracle/OracleSpoke.sol
  packages/core/contracts/cross-chain-oracle/SpokeBase.sol
  packages/core/contracts/oracle/implementation/Constants.sol
  packages/core/test/cross-chain-oracle/GovernorSpoke.js
  packages/core/test/cross-chain-oracle/OracleSpoke.js
  packages/core/test/cross-chain-oracle/chain-adapters/Admin_ChildMessenger.js
  packages/core/test/cross-chain-oracle/chain-adapters/Arbitrum_ChildMessenger.js
  packages/core/test/cross-chain-oracle/chain-adapters/Optimism_ChildMessenger.js
Labels: cross-chain-oracle, audit-fix-phase6

#3724 improve(cross-chain-oracle): Use Finder in PolygonChildMessenger
  packages/common/src/Constants.ts
  packages/core/contracts/cross-chain-oracle/chain-adapters/Polygon_ChildMessenger.sol
  packages/core/contracts/cross-chain-oracle/chain-adapters/test/Polygon_ChildMessengerMock.sol
  packages/core/contracts/oracle/implementation/Constants.sol
  packages/core/test/cross-chain-oracle/chain-adapters/Polygon_ChildMessenger.js
Labels: cross-chain-oracle

#3727 refactor(cross-chain-oracle): Add HasFinder base contract
  packages/core/contracts/common/implementation/HasFinder.sol
  packages/core/contracts/cross-chain-oracle/GovernorSpoke.sol
  packages/core/contracts/cross-chain-oracle/OracleBase.sol
  packages/core/contracts/cross-chain-oracle/OracleHub.sol
  packages/core/contracts/cross-chain-oracle/OracleSpoke.sol
  packages/core/contracts/cross-chain-oracle/SpokeBase.sol
  packages/core/contracts/cross-chain-oracle/chain-adapters/Polygon_ChildMessenger.sol
  packages/core/contracts/cross-chain-oracle/test/OracleBaseMock.sol
Labels: cross-chain-oracle
